<!DOCTYPE html>
<html>
	<head>
		<title>Welcome</title>
		<%= render 'layouts/stylesheets' %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tag %>
	</head>
	<body>
		<%= render 'layouts/header' %>
		<%= yield %>
		<%= render 'layouts/footer' %>
	</body>
</html>